@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nabla&display=swap");
html {
  height: 100%;
  background-color: #1a1a21;
  color: white;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato";
  margin: 0;
  height: 100%;
}

section.logos {
  margin-right: 0.75em;
}

.wrapper {
  height: 100%;
}

header {
  position: fixed;
  width: calc(100vw - (100vw - 100%));
  box-sizing: border-box;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.25rem;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: #1a1a21;
  z-index: 2;
}
header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header section a.logo {
  padding: 0;
}
header section svg.logo {
  display: none;
  width: 24px;
  height: auto;
  vertical-align: middle;
  padding: 10px;
  stroke: #ffa500;
}
header section svg.logo path {
  fill: #ffa500;
}
header section svg.logo:hover {
  stroke: white;
}
header section svg.logo:hover path {
  fill: white;
}
header section a {
  font-size: 1.2em;
}
header #c_logo {
  font-family: "Josefin Sans";
  font-size: 2.5rem;
  padding-right: 1.25rem;
  padding-top: 0.5em;
  transition: font-size 0.25s linear;
  color: #ffa500;
}
header a {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
}
header svg.open {
  border-radius: 17px;
  box-shadow: 3px 3px 3px #101014, -3px -3px 3px #24242e;
  transition: scale 0.25s linear;
}
header svg.open:active {
  box-shadow: inset 3px 3px 3px #101014, inset -3px -3px 3px #24242e;
}
header svg {
  stroke: white;
  padding: 0.5em 0.5em;
}
header svg path {
  fill: white;
}

nav {
  position: fixed;
  z-index: 998;
  background-color: rgba(255, 165, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateX(100%);
  transition-property: transform, opacity;
  transition-duration: 0s, 0.3s;
  transition-delay: 0.3s, 0s;
  transition-timing-function: ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: row;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
nav svg {
  height: 64px;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75em;
  z-index: 999;
  transition-property: scale, padding;
  transition-duration: 0.25s, 0.25s;
  transition-delay: 0s, 0s;
  transition-timing-function: linear;
}
nav ul {
  position: absolute;
  width: 100%;
  list-style-type: none;
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
nav ul li {
  text-align: center;
  font-size: 4vh;
  transition: font-size 0.25s linear;
}
nav ul a {
  color: #ccc;
  display: block;
  padding: 0.75em;
}
nav ul a:hover {
  color: #fff;
  text-decoration: underline;
}

.open-nav {
  opacity: 1;
  transform: translateX(0%);
  transition-property: opacity, transform;
  transition-duration: 0.3s, 0s;
  transition-delay: 0s, 0s;
  transition-timing-function: ease-in-out;
}

.closed-menu {
  opacity: 0%;
}

.scrolled #c_logo {
  font-size: 2rem;
  padding-right: 1.25rem;
}
.scrolled svg.open {
  scale: 0.8;
}
.scrolled section nav svg {
  scale: 0.8;
  padding-top: 0.25em;
}

main {
  height: calc(100% - 91px);
}
main section {
  padding: 0 2rem;
  scroll-margin-top: 71px;
}
main section.about {
  margin-top: 91px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section.about a {
  padding: 1em 1.618em;
  color: #ffa500;
  display: block;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 15px;
  border-color: #ffa500;
  border-style: solid;
  width: 66%;
  text-align: center;
}
main section.about a:hover {
  color: #fff;
  background-color: rgba(255, 166, 0, 0.6509803922);
}
main section.about h1 {
  font-size: min(8vw, 4em);
  margin: auto 0;
}
main section.about h1 span {
  color: #ffa500;
}
main section.about p {
  font-size: 1.2em;
}
main section.projects {
  background-color: #1a1a21;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
main section.projects h1 {
  margin: 0 0;
  margin-bottom: 2rem;
  font-size: min(8vw, 2.5em);
  width: auto;
}
main section.projects h1 span {
  color: #ffa500;
}
main section.projects div.project-cards {
  display: grid;
  grid-gap: 2em;
}
main section.projects div.project-cards .card {
  border-radius: 17px;
  box-shadow: 3px 3px 10px #101014, -3px -3px 10px #24242e;
  padding: 2rem;
}
main section.projects div.project-cards .card p {
  font-size: 1em;
  color: #ddd;
}
main section.projects div.project-cards .card p.technologies {
  font-size: 0.8em;
  margin-bottom: 0;
  color: #aaa;
}
main section.projects div.project-cards .card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  min-width: min(225px, 100%);
  border-radius: 17px;
  border-color: #ccc;
  border-style: solid;
  aspect-ratio: 1/1;
}
main section.projects div.project-cards .card div.project-img {
  padding: 1rem;
}
main section.projects div.project-cards .card .card-header {
  display: flex;
  align-items: center;
  max-width: 100%;
}
main section.projects div.project-cards .card .card-header a.logo {
  padding: 0;
}
main section.projects div.project-cards .card .card-header svg.logo {
  width: 24px;
  height: auto;
  vertical-align: middle;
  padding: 16px;
  stroke: #ffa500;
}
main section.projects div.project-cards .card .card-header svg.logo path {
  fill: #ffa500;
}
main section.projects div.project-cards .card .card-header svg.logo:hover {
  stroke: white;
}
main section.projects div.project-cards .card .card-header svg.logo:hover path {
  fill: white;
}
main section.projects div.project-cards .card h1 {
  margin: 0 0;
  font-size: min(6vw, 1.55em);
  width: auto;
}
main section.projects div.project-cards .card h1 span {
  color: #ffa500;
}
main section.awards {
  padding-top: 6em;
}
main section.awards div.award-cards {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
main section.awards div.award {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
}
main section.awards div.award p {
  margin: 0;
  width: 100%;
  font-size: 1em;
}
main section.awards div.award span {
  font-weight: bold;
}
main section.awards div.award svg {
  width: 20px;
  height: auto;
  vertical-align: middle;
  padding-right: 16px;
  stroke: #ffa500;
}
main section.awards div.award svg path {
  fill: #ffa500;
}
main section.awards h1 {
  margin: 0 0;
  font-size: min(8vw, 2.5em);
  width: auto;
}
main section.awards h1 span {
  color: #ffa500;
}
main section.extracurriculars {
  padding-top: 6em;
  padding-bottom: 2em;
}
main section.extracurriculars div.award-cards {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}
main section.extracurriculars div.award {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 0;
}
main section.extracurriculars div.award a svg {
  padding-left: 4px;
}
main section.extracurriculars div.award a svg:hover {
  stroke: white;
}
main section.extracurriculars div.award a svg:hover path {
  fill: white;
}
main section.extracurriculars div.award a svg:hover rect {
  fill: white;
}
main section.extracurriculars div.award p {
  margin: 0;
  font-size: 1em;
}
main section.extracurriculars div.award p.nolink {
  width: 100%;
}
main section.extracurriculars div.award span {
  font-weight: bold;
}
main section.extracurriculars div.award svg {
  width: 20px;
  height: auto;
  vertical-align: middle;
  padding-right: 16px;
  stroke: #ffa500;
}
main section.extracurriculars div.award svg path {
  fill: #ffa500;
}
main section.extracurriculars div.award svg rect {
  fill: #ffa500;
}
main section.extracurriculars h1 {
  margin: 0 0;
  font-size: min(8vw, 2.5em);
  width: auto;
}
main section.extracurriculars h1 span {
  color: #ffa500;
}
main section.design p {
  color: #ddd;
  padding-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
}

footer {
  width: calc(100vw - (100vw - 100%));
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 1.25rem;
}
footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin-bottom: 1em;
}
footer section a.logo {
  padding: 0;
}
footer section svg.logo {
  display: block;
  width: 24px;
  height: auto;
  padding: 10px;
  stroke: #ffa500;
}
footer section svg.logo path {
  fill: #ffa500;
}
footer section svg.logo:hover {
  stroke: white;
}
footer section svg.logo:hover path {
  fill: white;
}
footer section a {
  font-size: 1.2em;
}
footer section.logos {
  margin-right: 0;
}

@media only screen and (min-width: 500px) {
  header section svg.logo {
    display: block;
  }
  .scrolled #c_logo {
    font-size: 1.75rem;
  }
  main section.projects div.project-cards {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  footer {
    display: none;
  }
}
@media only screen and (min-width: 1020px) {
  main section {
    padding: 0 min(15%, 50vw - 26rem);
  }
  main section.about {
    width: 50rem;
    flex-direction: row;
  }
  main section.about a {
    width: 4em;
    margin-left: 1.5em;
  }
  .scrolled ul li {
    font-size: 0.75em;
  }
  .open {
    display: none;
  }
  header #c_logo {
    font-family: "Nabla";
    padding-top: 0.5rem;
  }
  header section svg.logo {
    padding: 5px;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
    opacity: 100%;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    position: relative;
    display: flex;
    top: 0%;
    transform: translateY(0%);
  }
  nav ul li {
    text-align: center;
    font-size: 0.8em;
    margin: 0 0.4em;
    border-radius: 17px;
    box-shadow: 3px 3px 3px #101014, -3px -3px 3px #24242e;
  }
  nav ul li:active {
    box-shadow: inset 3px 3px 3px #101014, inset -3px -3px 3px #24242e;
  }
  nav ul a {
    color: #ccc;
    display: block;
    padding: 0.75em;
  }
  nav ul a:hover {
    text-decoration: none;
    color: #fff;
  }
}/*# sourceMappingURL=main.css.map */