@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nabla&display=swap");
$primary: #ffa500;
$secondary-bg: #6282a3;
$primary-bg: #1a1a21;

html {
    height: 100%;
    background-color: $primary-bg;
}

body {
  font-family: "Lato";
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: $primary-bg;

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #logo {
    font-family: "Nabla";
    font-size: 2.5rem;
  }

  a {
    color: white;
    padding: 0.5rem;
    text-decoration: none;
  }

  svg {
    stroke: white;
    padding: 0 0.5em;

    path {
      fill: white;
    }
  }
}

nav {
  position: fixed;
  z-index: 1;
  background-color: rgba($color: #ffa500, $alpha: 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateX(100%);
  transition-property: transform, opacity;
  transition-duration: 0s, 0.3s;
  transition-delay: 0.3s, 0s;
  transition-timing-function: ease-in-out;

  svg {
    height: 64px;
    width: auto;
    position: fixed;
    right: 0;
    padding: 1.25em;
  }

  ul {
    display: block;
    position: absolute;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);

    li {
      text-align: center;
      font-size: 2rem;
    }

    a {
      color: white;
      display: block;
      padding: 0.75em;

      &:hover {
        color: #ccc;
      }
    }
  }
}

.open-nav {
  opacity: 1;
  transform: translateX(0%);
  transition-property: opacity, transform;
  transition-duration: 0.3s, 0s;
  transition-delay: 0s, 0s;
  transition-timing-function: ease-in-out;
}

.closed-menu {
  opacity: 0%;
}


